workflow.json
{
  "name": "대회 신청 자동화",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"대회신청\" is:unread"
        },
        "options": {
          "downloadAttachments": true,
          "markAsRead": true
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst parentEmail = $input.first().json.from;\n\ntry {\n  const body = $input.first().json.textPlain || $input.first().json.text || $input.first().json.snippet || '';\n  const getField = (name) => {\n    const match = body.match(new RegExp(`${name}[：:]\\\\s*(.+)`));\n    return match ? match[1].trim() : null;\n  };\n\n  const to = getField('수신자');\n  const subject = getField('제목');\n  const rawTime = getField('시간');\n\n  if (!to || !subject || !rawTime) {\n    return [{\n      json: {\n        error: `이메일 형식 오류: 수신자(${to}), 제목(${subject}), 시간(${rawTime}) 중 누락`,\n        parentEmail,\n      }\n    }];\n  }\n\n  const normalized = rawTime.replace(/\\//g, '-');\n  const targetTime = normalized.match(/\\d{2}:\\d{2}:\\d{2}/)\n    ? normalized\n    : normalized + ':00';\n\n  const waitUntil = new Date(targetTime.replace(' ', 'T') + '+09:00');\n  waitUntil.setMinutes(waitUntil.getMinutes() - 5);\n\n  const jobId = Date.now().toString(36) + Math.random().toString(36).slice(2);\n\n  fs.mkdirSync('/shared/attachments', { recursive: true });\n  fs.mkdirSync('/shared/jobs', { recursive: true });\n\n  const binary = $input.first().binary || {};\n  const attachmentPaths = [];\n\n  for (const key of Object.keys(binary)) {\n    const buf = await this.helpers.getBinaryDataBuffer(0, key);\n    const filePath = `/shared/attachments/${jobId}_${binary[key].fileName}`;\n    fs.writeFileSync(filePath, buf);\n    attachmentPaths.push(filePath);\n  }\n\n  const config = {\n    time: targetTime,\n    to,\n    subject,\n    body: getField('본문') || '',\n    attach: attachmentPaths,\n  };\n\n  const configPath = `/shared/jobs/${jobId}.json`;\n  fs.writeFileSync(configPath, JSON.stringify(config, null, 2));\n\n  return [{\n    json: {\n      configPath,\n      waitUntil: waitUntil.toISOString(),\n      jobId,\n      parentEmail,\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      error: `처리 중 오류: ${e.message}`,\n      parentEmail,\n    }\n  }];\n}"
      },
      "id": "code-parse",
      "name": "Parse Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.parentEmail }}",
        "subject": "대회신청 자동화 — 형식 오류",
        "message": "={{ $json.error }}\n\n올바른 형식:\n수신자: example@email.com\n제목: 대회 제목\n시간: 2026/03/23 09:00\n본문: 참가 신청합니다."
      },
      "id": "gmail-error",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [660, -140]
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.waitUntil }}"
      },
      "id": "wait-node",
      "name": "Wait Until T-5min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [660, 140]
    },
    {
      "parameters": {
        "command": "=python3 /mail-sender/sender.py --config \"{{ $json.configPath }}\"",
        "options": {}
      },
      "id": "exec-sender",
      "name": "Run sender.py",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [880, 140],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exitcode-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Send OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1100, 140]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse Email').first().json.parentEmail }}",
        "subject": "대회 신청 메일 발송 완료!",
        "message": "=대회 신청 메일이 정상적으로 발송되었습니다.\n\n{{ $('Run sender.py').first().json.stdout }}"
      },
      "id": "gmail-success",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, 60]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parse Email').first().json.parentEmail }}",
        "subject": "대회 신청 발송 실패 — 수동 확인 필요",
        "message": "=발송 중 오류가 발생했습니다. 수동 확인이 필요합니다.\n\n{{ $('Run sender.py').first().json.stderr }}"
      },
      "id": "gmail-fail",
      "name": "Send Fail Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, 220]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Parse Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Until T-5min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Until T-5min": {
      "main": [
        [
          {
            "node": "Run sender.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run sender.py": {
      "main": [
        [
          {
            "node": "Send OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OK?": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Fail Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
